*{

    /*取消页面的内外边距*/
    padding: 0;
    margin: 0;
}
body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(243, 230, 241);


}
.she{

   width: 90%;
   height: 545px;
   display: flex;
}
 .box{
     flex: 1;
     overflow: hidden;
     transition: .5s;
     margin: 0 20px;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
     border-radius: 20px;
     border: 10px solid #fff;
     background-color: #fff;

      
 }
 .box>img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  transition: .5s;
 }
 .box>span{
   font: 200 45px;
   text-align: center;
   height: 27%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   color: #947219;
 }
 .box:hover{
   flex-basis: 40%;
 }
 .box:hover>img{
   width: 100%;
   height: 100%;
 }
 .a:hover{

   color: blanchedalmond;
}
.a:active{
  color: rgb(138, 44, 225);
}
 